//main: ../project/less/less.style.less
.block-mock {
    height: 390px;
}
@media (min-width: @tablet-width) {
    .block-mock {
        height: 469px;
    }
}
@media (min-width: @desktop-width) {
    .block-mock {
        height: 720px;
    }
}